.reaponsive-table td {
  border: solid;
  border-width: 0.2px;
}
.reaponsive-table th {
  border: solid;
  border-width: 0.2px;
}

.reaponsive-table tr:hover {
  background-color: grey;
}

.reaponsive-table td:hover {
  background-color: yellow;
}

body {
  'background-color': blue;
}